<div class="flex min-w-0 flex-auto flex-col">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="flex justify-center">
            <!-- Horizontal stepper -->

                        
                       
                        <div class="flex-grow">
                            
                        <div class="grid gap-4 grid-cols-8">
                            <div class="col-span-3">
                                <p> 1. Provincia</p>
                            <mat-form-field class="w-96 ">
                                <mat-select  [placeholder]="'Selecciona la provincia'">
                                    <mat-option value="country-1">Opción 1</mat-option>
                                    <mat-option value="country-2">Opción 2</mat-option>
                                    <mat-option value="country-3">Opción 3</mat-option>
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                            </mat-form-field>
                            <p> 2. Cantón</p>
                            <mat-form-field class="w-96">
                                <mat-select [placeholder]="'Selecciona el cantón'">
                                    <mat-option value="country-1">Opción 1</mat-option>
                                    <mat-option value="country-2">Opción 2</mat-option>
                                    <mat-option value="country-3">Opción 3</mat-option>
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                            </mat-form-field>
                            <p> 3. Parroquia </p>
                            <mat-form-field class="w-96 ">
                                <mat-select [placeholder]="'Selecciona la parroquia'">
                                    <mat-option value="country-1">Opción 1</mat-option>
                                    <mat-option value="country-2">Opción 2</mat-option>
                                    <mat-option value="country-3">Opción 3</mat-option>
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                            </mat-form-field>
                            <div class=" flex flex-col">
                                <span class="mb-2 font-medium"> 4. Área</span>
                                <mat-radio-group class="flex flex-col" [color]="'primary'"
                                    >
                                    <mat-radio-button class="mb-2" [value]="'everything'">
                                        Rural
                                    </mat-radio-button>
                                    <mat-radio-button class="mb-2" [value]="'just-good'">
                                       Urbana
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                            <div class="col-span-5">
                                <div class="map-container col-span-2 h-96 rounded-2xl py-3" #map></div>
                            </div>
                        </div>
                        
                    </div>
 

        </div>
    </div>
</div>