<div class="relative flex flex-auto overflow-hidden">
    <!-- Main -->
    <div class="flex flex-auto px-6 py-10">
        <!-- Activity feed -->
        <div class="flex flex-auto justify-center">
            <!-- Title -->
             <div>
            <div class="text-4xl font-extrabold leading-none text-center tracking-tight">
                Seguimiento Nominal 2
                <div class="text-secondary mt-1.5 text-lg">
                    Indice de Pobreza RC 2024
                </div>
                 
            </div>
            

<!-- Check if activities exist -->
            <div *ngIf="activities.length; else noActivities" class="mt-8">
                <ol>
                    <!-- Activities -->
                    <ng-container *ngFor="let activity of activities; let i = index; trackBy: trackByFn">


                        <li class="relative flex py-7">
                            <div
                                class=" flex flex-col text-md pt-1 pr-5">
                                <div class="text-secondary">
                                    {{ activity.date }}
                                </div>
                            </div>
                            <!-- Line -->
                            <div class="absolute left-20 top-0  h-full w-0.5 bg-gray-300 dark:bg-gray-600"></div>

                            <div class="relative flex flex-auto">
                                <!-- Icon -->
                                <div *ngIf="activity.color"
                                    class="mr-4 mt-1 flex h-4 w-4 shrink-0 items-center justify-center rounded-full bg-{{ activity.color }}-500">
                                </div>
                                <!-- Content -->
                                <div class="flex flex-auto flex-col items-start ">
                                    <div class="flex justify-center py-1 rounded-xl text-{{activity.color}}-600 bg-{{activity.color}}-200 mb-4 min-w-40"
                                        *ngIf="activity.title">{{ activity.title }}</div>

                                    <div class="flex justify-center items-center space-x-2">
                                        <div class="font-semibold">Puntaje: </div>
                                        <div>{{activity.points}} </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </li>

                    </ng-container>
                </ol>
            </div>

            <!-- No activities message -->
            <ng-template #noActivities>
                <div class="mt-8 text-secondary text-lg">There is no activity at the moment...</div>
            </ng-template>
        </div>
        </div>
    </div>
</div>