<div class="flex min-w-0 flex-auto flex-col">

    <!-- Header -->
    <div class="bg-card pb-10">
        <!--img-->
        <img class="absolute opacity-90 object-fit" src="images/URS/headerURS.png" />
        <div class="relative mx-auto flex w-full max-w-screen-xl flex-col px-6 sm:px-8">
            <div class="my-8 flex min-w-0 flex-auto flex-col justify-end">
                <div class="flex min-w-0 flex-auto justify-end">

                    <div class="ml-4 flex min-w-0 bg-white p-4 rounded-2xl flex-col">
                        <!-- Actions -->
                        <div class="mt-6 flex items-center space-x-3 sm:ml-2 sm:mt-0">
                            <button class="bg-accent" mat-flat-button [color]="'accent'" (click)="register()">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                                <span class="ml-2">Registro</span>
                            </button>
                            <button mat-flat-button [color]="'primary'" (click)="signOut()">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'"></mat-icon>
                                <span class="ml-2">Iniciar Sesión</span>
                            </button>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        
       
    </div>
    <pricing-simple></pricing-simple>


    <!-- Main -->
    <div class="-mt-px flex-auto border-t pt-4 sm:pt-6">
        <div class="mx-auto w-full max-w-screen-xl">

            <div class="grid w-full min-w-0 grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-4">

                <!-- Issues summary -->
                <div class="bg-card  flex flex-auto overflow-hidden  col-span-2 justify-center rounded-2xl p-6 shadow">
                    
                    <fuse-card
                class="filter-article flex w-full max-w-80 flex-col md:max-w-160 md:flex-row"
            >
                <div class="w-80 flex-0 md:w-64">
                    <img
                        class="h-80 w-full object-cover"
                        src="images/URS/forms.jpg"
                        alt="Card cover image"
                    />
                </div>
                <div class="m-8 mb-4 flex flex-auto flex-col">
                    <div class="text-2xl font-semibold leading-tight">
                        Formulario del Registro Social
                    </div>
                    <div class="text-secondary mt-1 text-md font-medium">
                        Requisitos
                    </div>
                    <div class="mt-4">
                        <p>1. Documentos de identificación de los miembros de su hogar. </p>
                        <br/>
                        <p>2. Plantilla de luz electrica de su domicilio.</p>
                        <br/>
                        <p>3. Fotografía digital frontal de un documento de identificación</p>
                        <br/>
                        (Cédula/Partida de Nacimiento/Pasaporte/Licencia de conducir/
                        Identificación de extranjero)
                    </div>
                    <div class="-mx-3 mt-3 ">
                        <button mat-flat-button [color]="'primary'" class="flex-grow w-80" (click)="forms()">
                            <mat-icon class="icon-size-5 " [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                            <span class="ml-2">Formulario</span>
                        </button>
                    </div>
                </div>
            </fuse-card>

                </div>
                <div class="bg-card  flex flex-auto overflow-hidden  col-span-2 justify-center rounded-2xl p-6 shadow">
                    <button (click)='getPrev()'> <mat-icon class="w-16"
                            [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon></button>

                    <div id="carouselExampleControls" class="carousel slide max-h-2xl " data-ride="carousel">

                        <div class="carousel-inner  rounded-2xl flex-grow max-h-2xl" role="listbox">
                            <img class="carousel-inner  rounded-2xl flex-grow max-h-96" src="{{ getSlide() }}"
                                alt="slide">
                        </div>





                    </div>
                    <button (click)='getNext()'><mat-icon class="w-16"
                            [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon></button>
                </div>

                

                

            </div>
        </div>
    </div>

    <!--Footer-->
    <div class="bg-slate-900 w-full text-white mx-auto p-10 px-30 flex flex-col md:flex-row justify-between items-center mt-10">
        <!-- Section: Feedback and Suggestions -->
        <div class="mb-6 md:mb-0">
          <h2 class="text-lg font-bold mb-4">¿Preguntas, quejas o sugerencias?</h2>
          <div class="space-y-2">
            <!-- Button: Preguntas, quejas o sugerencias -->
            <button (click)="soporte()" class="min-w-80  border border-white p-4 flex items-center justify-between text-white rounded-lg hover:bg-white hover:text-blue-900">
              Preguntas, quejas o sugerencias
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1.707-10.707a1 1 0 10-1.414 1.414L11.586 10H7a1 1 0 100 2h4.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414l-3-3z" clip-rule="evenodd" />
              </svg>
            </button>
            <h2 class="text-lg font-bold mb-4">¿Necesitas ayuda?</h2>
            <!-- Button: Encuesta de satisfacción sitio web -->
            <button (click)="faqs()" class="min-w-80  border border-white p-4 flex items-center justify-between text-white rounded-lg hover:bg-white hover:text-blue-900">
              Preguntas frequentes (FAQ)
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1.707-10.707a1 1 0 10-1.414 1.414L11.586 10H7a1 1 0 100 2h4.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414l-3-3z" clip-rule="evenodd" />
              </svg>
            </button>
          </div>
        </div>
    
        <!-- Section: Like and Dislike -->
        <div class="flex items-center space-x-4 mb-6 md:mb-0">
            <h2 class="text-lg font-bold">Visitas:</h2>
            <h2 class="text-lg  pr-6">10</h2>
          <!-- Like Button -->
          <div class="flex items-center space-x-2">
            <button class="bg-green-600 p-2 rounded-full hover:bg-green-700">
                <mat-icon class="flex justify-center items-center text-white"
                [svgIcon]="'heroicons_outline:hand-thumb-up'"
                (click)="addLike()"
            ></mat-icon>
            </button>
            <span class="text-green-400 font-bold">{{likes}}</span>
          </div>
          <!-- Dislike Button -->
          <div class="flex items-center space-x-2 ">
            <button class="bg-red-600 p-2 rounded-full hover:bg-red-700">
                <mat-icon class="flex justify-center items-center text-white"
                [svgIcon]="'heroicons_outline:hand-thumb-down'"
                (click)="addDislike()"
            ></mat-icon>
            </button>
            <span class="text-red-400 font-bold">{{dislikes}}</span>
          </div>
        </div>
    
        <!-- Section: Contact Information -->
        <div class="text-center md:text-right">
          <p>Derechos Reservados © 2024 | Unidad del Registro Social</p>
          <p>Dirección: Av. Atahualpa OE1-109 y 10 de Agosto / Quito - Ecuador</p>
          <p>Telf: +593 2 3834023 / Código Postal: 170508</p>
        </div>
      </div>
      
   