<div class="flex min-w-0 flex-auto flex-col">
    <!-- Main -->
    <div class="flex flex-auto flex-col items-center p-6 sm:p-10">
        <div class="flex w-full max-w-4xl flex-col">
            <div class="-ml-4 sm:mt-8 ">
                <a mat-button [routerLink]="['../servicios']"class="bg-blue-950 text-white" >
                    <mat-icon [svgIcon]="'heroicons_outline:arrow-long-left'" class="text-white"></mat-icon>
                    <span class="ml-2">Regresar </span>
                </a>
            </div>
            <div
                class="mt-2 text-4xl font-extrabold leading-tight tracking-tight sm:text-7xl"
            >
                Preguntas, quejas o sugerencias
            </div>
            <!-- Form -->
            <div
                class="bg-card mt-8 rounded-2xl p-6 pb-7 shadow sm:mt-12 sm:p-10 sm:pb-7"
            >
                <!-- Alert -->
                @if (alert) {
                    <fuse-alert
                        class="mb-8"
                        [type]="alert.type"
                        [showIcon]="false"
                    >
                        {{ alert.message }}
                    </fuse-alert>
                }
                <form
                    class="space-y-3"
                    [formGroup]="supportForm"
                    #supportNgForm="ngForm"
                >
                    <div class="mb-6">
                        <div class="text-2xl font-bold tracking-tight">
                            Selecciona el tipo de solicitud
                        </div>
                        <div class="text-secondary">
                            Tu solicitud será procesada y, en caso que sea necesario, 
                            te contactaremos para dar seguimiento!
                        </div>
                    </div>
                    <div class="mb-4 flex items-center justify-center">
                        <div
                            class="flex flex-col sm:flex-row mt-2 space-y-2 sm:space-y-0 sm:space-x-4"
                        >
                            <div
                                class="card flex items-center justify-center p-14 shadow-lg border rounded-lg cursor-pointer hover:bg-gray-100 transition"
                                (click)="onCategoryChange('preguntas')"
                            >
                                <span>Preguntas</span>
                            </div>
                            <div
                                class="card flex items-center justify-center p-14 shadow-lg border rounded-lg cursor-pointer hover:bg-gray-100 transition"
                                (click)="onCategoryChange('quejas')"
                            >
                                <span>Quejas</span>
                            </div>
                            <div
                                class="card flex items-center justify-center p-14 shadow-lg border rounded-lg cursor-pointer hover:bg-gray-100 transition"
                                (click)="onCategoryChange('sugerencias')"
                            >
                                <span>Sugerencias</span>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Message -->
                    <div [hidden] = 'isCategorySelected'>
                        <mat-form-field class="w-full">
                            <textarea
                                matInput
                                [formControlName]="'message'"
                                [required]="true"
                                [rows]="5"
                                cdkTextareaAutosize
                            ></textarea>
                            <mat-label>{{ messageLabel }}</mat-label>
                            @if (supportForm.get('message').hasError('required')) {
                                <mat-error> Required </mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <!-- Actions -->
                    <div class="flex items-center justify-end">
                        <button
                            mat-button
                            [color]="'accent'"
                            [disabled]="
                                supportForm.pristine || supportForm.untouched
                            "
                            (click)="clearForm()"
                        >
                            Clear
                        </button>
                        <button
                            class="ml-2"
                            mat-flat-button
                            [color]="'primary'"
                            [disabled]="
                                supportForm.pristine || supportForm.invalid
                            "
                            (click)="sendForm()"
                        >
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
