<div class="w-72"> 
    <mat-tab-group>
        <mat-tab label="1">
            <section class="example-section">
            <mat-checkbox class="example-margin">Check me!</mat-checkbox>
            <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>
            </section>
        </mat-tab>
        <mat-tab label="2">
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                  <!-- use a disabled button to provide padding for tree leaf -->
                  <button mat-icon-button disabled></button>
                  {{node.name}}
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
                               [cdkTreeNodeTypeaheadLabel]="node.name">
                  <button mat-icon-button matTreeNodeToggle
                          [attr.aria-label]="'Toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </button>
                  {{node.name}}
                </mat-tree-node>
              </mat-tree>
              
        </mat-tab>
        <mat-tab label="3"> Content 3 </mat-tab>
        <mat-tab label="4"> Content 4 </mat-tab>
      </mat-tab-group>
      
</div>
<div class="flex min-w-0 flex-auto flex-col">
    <!-- Main -->
   
        <div
            class="relative flex flex-0 flex-col border-b px-6 py-2 sm:flex-row sm:items-center sm:justify-between md:px-8">
            <!-- Title -->
            <div class="text-8lg font-extrabold tracking-tight">Geoportal</div>
           
           

        </div>
        <mat-toolbar-row>
            <span>
                <mat-chip-set aria-label="Fish selection">
                <mat-chip>One fish</mat-chip>
                <mat-chip>Two fish</mat-chip>
                <mat-chip>Three fish</mat-chip>
                <mat-chip disabled>Four fish</mat-chip>
              </mat-chip-set>
            </span>
        </mat-toolbar-row>
        
        
    <div class="map-container flex-grow col-span-2" #map></div>
    
</div>
<div class="w-24">
    <mat-chip-set aria-label="Fish selection">
        <mat-chip>One fish</mat-chip>
        <mat-chip>Two fish</mat-chip>
        <mat-chip>Three fish</mat-chip>
        <mat-chip disabled>Four fish</mat-chip>
      </mat-chip-set>
      
</div>