<div class="flex min-w-0 flex-auto flex-col">
    <!-- Header -->
    <div class="dark relative flex-0 overflow-hidden bg-blue-950 px-4 py-8 sm:p-16">
        <!-- Background -->
        <!-- Rings -->
        <!-- prettier-ignore -->
        <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
            preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-blue-800 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <div class="relative z-10 flex flex-col items-center">
            <h2 class="text-xl font-semibold">Unidad del Registro Social</h2>
            <div class="mt-1 text-center text-4xl font-extrabold leading-tight tracking-tight sm:text-7xl">
                Servicios Geográficos
            </div>
            <div class="text-secondary mt-6 max-w-2xl text-center tracking-tight">
                Es un servicio web que define las funcionalidades que provee una IDE y permite que la información
                geoespacial sea accesible a través de un navegador de Internet o desde un Sistema de Información
                Geográfica (SIG) que soporte este tipo de servicios. Todos los geoservicios siguen los estándares de
                interoperabilidad definidos por el Open Geospatial Consortium (OGC).
            </div>
        </div>
    </div>


    <!-- Main -->
    <div class="flex flex-auto">
        <mat-drawer-container class="flex flex-auto flex-col ">
            <mat-drawer class="w-72 dark:bg-gray-900" [autoFocus]="false" [mode]="drawerMode" [opened]="drawerClosed"
                [position]="'start'" #matDrawer>
                <!-- Demo sidebar -->
                <form-sidebar></form-sidebar>
            </mat-drawer>
            <!-- Filters -->
            <mat-drawer-content>
                <!--<div class="mt-1 px-2 flex items-center text-2xl">
                    <button mat-button class="bg-primary text-white " (click)="matDrawer.toggle()">
                        <mat-icon class="icon-size-10 px-2" [svgIcon]="'heroicons_solid:bars-3'"></mat-icon>
                        <span>Tipos de GeoServicios</span>
                    </button>
                </div>-->
                <div class="flex  justify-center ">
                    <div class="text-center p-10">
                        Los geoservicios se encuentran distribuidos de acuerdo a la temática y escala de generación de
                        la información:

                        <br /><br /><br />

                        Por favor dar click en las diferentes categorías para acceder a los diferentes geoservicios
                        
                    </div>

                </div>

                <div class="flex w-full max-w-400 flex-wrap space-x-6 place-content-center">
                    <!-- Card #1 -->
                    <button  (click)="openDialog()">
                        <fuse-card class="filter-article flex w-full max-w-80   flex-col    hover:bg-gray-200">
                            <img class="object-cover max-h-40" src="images/URS/house2.jpg" alt="Card cover image" />
                            <div class="m-8">
                                <div class="text-2xl font-semibold leading-tight">
                                    Cartografía de Hogares del Registro Social
                                </div>
                                <div class="mt-4">
                                    Descripción del servicio
                                </div>
                            </div>
                        </fuse-card>
                    </button >
                    <button  (click)="openDialog()">
                        <fuse-card class="filter-article flex w-full max-w-80   flex-col    hover:bg-gray-200">
                            <img class="object-cover max-h-40" src="images/URS/cat-1.png" alt="Card cover image" />
                            <div class="m-8">
                                <div class="text-2xl font-semibold leading-tight">
                                    Estadísticas del Registro Social
                                </div>
                                <div class="mt-4">
                                    Descripción del servicio
                                </div>
                            </div>
                        </fuse-card>
                    </button>
                    <button  (click)="openDialog()">
                        <fuse-card class="filter-article flex w-full max-w-80   flex-col    hover:bg-gray-200">
                            <img class="object-cover max-h-40" src="images/URS/cat-4.jpg" alt="Card cover image" />
                            <div class="m-8">
                                <div class="text-2xl font-semibold leading-tight p-3 px-10">
                                    Otras instituciones
                                </div>
                                <div class="mt-4">
                                    Descripción del servicio
                                </div>
                            </div>
                        </fuse-card>
                    </button>
                    


                </div>

                <div class="flex justify-center p-16">
                    <mat-chip-set aria-label="Service selection">
                        <div class="space-x-6">
                            <mat-chip
                                matTooltip="Es un estándar que define un “mapa”
                                 como una representación de la información geográfica 
                                 en forma de un archivo de imagen digital, conveniente 
                                 para la exhibición en una pantalla del computador. Los 
                                 mapas producidos se generan normalmente en un formato 
                                 de imagen como PNG, GIF o JPEG."
                                class="bg-blue-950 ">
                                <div class="text-white ">
                                    WMS
                                </div>
                            </mat-chip>
                            <mat-chip matTooltip="Es un estándar que ofrece acceso de lectura
                             a datos vectoriales utilizando el Lenguaje de Marcas Geográficas
                              (GML) como protocolo subyacente para realizar consultas espaciales,
                               recuperar los datos y manipular su geometría." 
                               class="bg-blue-950 ">
                                <div class="text-white ">
                                    WFS
                                </div>
                            </mat-chip>
                            <mat-chip matTooltip="Es un estándar que proporciona un enfoque 
                            complementario al WMS y mejora su rendimiento mediante un pre-renderizado 
                            y almacenamiento (caché) de las teselas de mapa (tiles) para dar una respuesta
                             más rápida a las solicitudes de los clientes, agilizando la carga de 
                             las teselas en pantalla." 
                             class="bg-blue-950 ">
                                <div class="text-white ">
                                    WMTS
                                </div>
                            </mat-chip>
                            <mat-chip matTooltip="Es un estándar basado en lenguaje XML
                             que está orientado a la visualización geográfica e incluye
                              anotaciones de mapas e imágenes. Generalmente utilizados
                               en Google Earth y otros aplicativos de captura
                                móvil de datos." 
                                class="bg-blue-950 ">
                                <div class="text-white ">
                                    KML
                                </div>
                            </mat-chip>
                            <mat-chip matTooltip="Es un estándar que define una interfaz 
                            común para la búsqueda y consulta de metadatos relacionados a datos, 
                            servicios y recursos geográficos." 
                            class="bg-blue-950 ">
                                <div class="text-white ">
                                    CSW
                                </div>
                            </mat-chip>
                        </div>
                    </mat-chip-set>
                </div>

            </mat-drawer-content>
        </mat-drawer-container>
    </div>

</div>