<div class="flex min-w-0 flex-auto bg-white flex-col">
    <!-- Header -->
    <div
        class="bg-card relative z-49 flex h-16 w-full flex-0 items-center px-4 shadow dark:border-b dark:bg-transparent dark:shadow-none md:px-6 print:hidden">
        <button mat-icon-button (click)="toggleNavigation('mainNavigation')">
            <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
        </button>
        <div class="ml-auto flex items-center space-x-0.5 pl-2 sm:space-x-2">

            <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
            <search [appearance]="'bar'"></search>
            <!--<shortcuts></shortcuts>-->
            <messages></messages>
            <notifications></notifications>
            <button class="lg:hidden" mat-icon-button>
                <mat-icon [svgIcon]="'heroicons_outline:chat-bubble-left-right'"></mat-icon>
            </button>
            <user></user>
        </div>
    </div>
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <!-- Header -->
        <!-- Title -->
        <div class="flex px-6 space-x-4 text-4xl font-extrabold tracking-tight">
            <div>Planificación</div>
        </div>
        <div class="relative flex border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8">
            <!-- Loader -->
            @if (isLoading) {
            <div class="absolute inset-x-0 bottom-0">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            }



            <!-- Actions -->
            <div class="flex flex-grow justify-between  ">
                <!-- Search -->
                <div class="flex space-x-2">
                    <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                        <mat-icon class="icon-size-5" matPrefix
                            [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                        <input matInput [formControl]="searchInputControl" [autocomplete]="'off'"
                            [placeholder]="'Buscar Usuario'" />
                    </mat-form-field>
                    <img class="w-7" src="images/logo/PDF.svg" alt="Logo image" />
                    <img class="w-8" src="images/logo/Excel.svg" alt="Logo image" />
                </div>
                <!-- Add product button -->
                <button class="sm:ml-4" mat-flat-button [color]="'primary'" (click)="crearRegistro()">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1 text-xl">Añadir</span>
                </button>
            </div>

        </div>
        <div class="container">
            @if (crearSegment) {
            <!-- CrearRegistros -->
            <div class="flex min-w-0 flex-auto flex-col">
                <!-- Main -->
                <div class="flex-auto p-6 sm:p-10">
                    <!-- CONTENT GOES HERE -->
                    <div class="container">
                        <h1 class="text-4xl font-bold pb-3 text-primary">Crear Registro</h1>
                        <h3 class="pb-3 text-primary">Campos con símbolo (*) son obligatorios </h3>
                        <mat-expansion-panel [expanded]="crearSegment">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="font-bold text-black">Datos Generales</mat-panel-title>
                            </mat-expansion-panel-header>
                            <!--Tabs Registros-->
                            <mat-tab-group>
                                <mat-tab label="Registro Individual">
                                    <section class="planificacion-ind-section">
                                        <div class="container">
                                            <form class="">
                                                <div class="grid gap-4 grid-row-1 ">
                                                    <!-- Institución -->
                                                    <div class="flex items-center gap-2">
                                                        <label
                                                            class="w-1/6  text-left  text-lg font-semibold flex items-center">
                                                            Institución
                                                        </label>
                                                        <span class=" text-red-500 text-3xl ml-1">*</span>
                                                        <mat-form-field class="flex-1">

                                                            <input matInput />
                                                        </mat-form-field>
                                                    </div>
                                                    <!-- Operativo -->
                                                    <div class="flex items-center gap-2">
                                                        <label
                                                            class="w-1/6  text-left  text-lg font-semibold flex items-center">
                                                            Operativo
                                                        </label>
                                                        <span class=" text-red-500 text-3xl ml-1">*</span>
                                                        <mat-form-field class="flex-1">
                                                            <input matInput />
                                                        </mat-form-field>
                                                    </div>
                                                    <!-- Fase -->
                                                    <div class="flex items-center gap-2">
                                                        <label
                                                            class="w-1/6  text-left  text-lg font-semibold flex items-center">
                                                            Fase
                                                        </label>
                                                        <span class=" text-red-500 text-3xl ml-1">*</span>
                                                        <mat-form-field class="flex-1">
                                                            <input matInput />
                                                        </mat-form-field>
                                                    </div>
                                                    <!-- Observación -->
                                                    <div class="flex items-center gap-2">
                                                        <label
                                                            class="w-1/6  text-left  text-lg font-semibold flex items-center">
                                                            Observación
                                                        </label>

                                                        <mat-form-field class="flex-1">
                                                            <input matInput />
                                                        </mat-form-field>
                                                    </div>
                                                    <!-- Estado -->
                                                    <div class="flex py-5 items-center gap-2">
                                                        <label
                                                            class="w-1/6 text-left text-lg font-semibold flex items-center">
                                                            Estado
                                                        </label>
                                                        <mat-slide-toggle class="flex-1 px-6" [color]="'primary'"
                                                            (click)="toggleCheck()">
                                                            {{
                                                            isChecked === true
                                                            ? 'Activo'
                                                            : 'Inactivo'
                                                            }}
                                                        </mat-slide-toggle>
                                                    </div>
                                                </div>


                                        
                                        <div class="flex w-full items-center justify-end border-t px-8 py-4">
                                            <button class="-ml-4" mat-button [color]="'warn'" (click)="cancelar()">
                                                Cancelar
                                            </button>
                                            <div class="flex items-center">

                                                <button mat-flat-button [color]="'primary'"
                                                    (click)="crear(); show('alertBox3')">
                                                    Crear
                                                </button>
                                            </div>
                                        </div>
                                        </form>
                    </div>

                    </section>
                    </mat-tab>
                    <mat-tab label="Registro Masivo">
                        <section class="planificacion-mas-section">
                            <div class="flex w-full items-center justify-end border-t px-8 py-4">
                                Formato para planificacion <img class="w-8 p-1" src="images/logo/Excel.svg"
                                    alt="Logo image" />
                            </div>
                            <div class="flex w-full items-center justify-end border-t px-8 py-4">

                                <div class="flex items-center justify-center w-full">
                                    <label for="dropzone-file"
                                        class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
                                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                viewBox="0 0 20 16">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2"
                                                    d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                            </svg>
                                            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span
                                                    class="font-semibold">Presionar para subir </span>o
                                                arrastrar y soltar el archivo</p>
                                            <p class="text-xs text-gray-500 dark:text-gray-400">.CSV, .XLS o
                                                .XLSX </p>
                                        </div>
                                        <input id="dropzone-file" type="file" class="hidden" />
                                    </label>
                                </div>

                            </div>
                            <div class="flex w-full items-center justify-end border-t px-8 py-4">
                                <button class="-ml-4" mat-button [color]="'warn'" (click)="cancelar()">
                                    Cancelar
                                </button>
                                <div class="flex items-center">

                                    <button mat-flat-button [color]="'primary'" (click)="crear(); show('alertBox3')">
                                        Crear
                                    </button>
                                </div>
                            </div>
                        </section>
                    </mat-tab>
                    <mat-tab label="Desactivación Masiva">
                        <section class="planificacion-mas-section">
                            <div class="flex w-full items-center justify-end border-t px-8 py-4">
                                Formato para desactivación de planificacion <img class="w-8 p-1"
                                    src="images/logo/Excel.svg" alt="Logo image" />
                            </div>
                            <div class="flex w-full items-center justify-end border-t px-8 py-4">

                                <div class="flex items-center justify-center w-full">
                                    <label for="dropzone-file"
                                        class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
                                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                viewBox="0 0 20 16">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2"
                                                    d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                            </svg>
                                            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span
                                                    class="font-semibold">Presionar para subir </span>o
                                                arrastrar y soltar el archivo</p>
                                            <p class="text-xs text-gray-500 dark:text-gray-400">.CSV, .XLS o
                                                .XLSX </p>
                                        </div>
                                        <input id="dropzone-file" type="file" class="hidden" />
                                    </label>
                                </div>

                            </div>
                            <div class="grid gap-4 grid-cols-1 md:grid-cols-8">
                                <mat-form-field class="col-span-8">
                                    <mat-label>Observación*</mat-label>
                                    <input matInput />
                                </mat-form-field>

                            </div>

                            <div class="flex w-full items-center justify-end border-t px-8 py-4">
                                <button class="-ml-4" mat-button [color]="'warn'" (click)="cancelar()">
                                    Cancelar
                                </button>
                                <div class="flex items-center">

                                    <button mat-flat-button [color]="'primary'" (click)="crear(); show('alertBox3')">
                                        Crear
                                    </button>
                                </div>
                            </div>
                        </section>
                    </mat-tab>
                    </mat-tab-group>

                    </mat-expansion-panel>
                </div>
            </div>
        </div>
        }

        <!-- Registros -->
        <div class="flex flex-auto overflow-hidden">
            <!-- Products list -->

            <div class="flex flex-auto flex-col overflow-hidden mb-18 rounded-2xl border-2 ">
                @if (products$ | async; as products) {
                @if (products.length > 0) {
                <div class="grid">
                    <!-- Header -->
                    <div class="planificacion-grid text-white bg-primary sticky top-0 z-10 grid gap-4 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                    matSort matSortDisableClear>
                        <div></div>
                        <div class="hidden md:block" [mat-sort-header]="'No.'">
                            No.
                        </div>
                        <div class="hidden lg:block" [mat-sort-header]="'cod'">
                            Institución
                        </div>
                        <div class="hidden lg:block" [mat-sort-header]="'imei'">
                            Operativo
                        </div>
                        <div class="hidden sm:block" [mat-sort-header]="'nums'">
                            Fase
                        </div>
                        <div class="hidden lg:block" [mat-sort-header]="'inst'">
                            DPA
                        </div>
                        <div class="hidden lg:block" [mat-sort-header]="'asign'">
                            Proyección Viviendas
                        </div>
                        <div class="hidden lg:block" [mat-sort-header]="'edisp'">
                            Proyección Hogares
                        </div>
                        <div class="hidden lg:block" [mat-sort-header]="'f_ing'">
                            Fecha inicio
                        </div>
                        <div class="hidden lg:block" [mat-sort-header]="'f_des'">
                            Fecha fin
                        </div>
                        <div class="hidden lg:block" [mat-sort-header]="'f_ing'">
                            Fecha ingreso
                        </div>
                        <div class="hidden lg:block" [mat-sort-header]="'f_des'">
                            Fecha desactivación
                        </div>
                        <div class="hidden lg:block" [mat-sort-header]="'active'">
                            Activo
                        </div>
                        <div class="hidden lg:block">
                            Acciones
                        </div>

                    </div>
                    <!-- Rows -->
                    @if (products$ | async; as products) {
                    @for (
                    product of products;
                    track trackByFn($index, product)
                    ) {
                    <div class="planificacion-grid grid items-center gap-4 border-b px-6 py-3 md:px-8">
                        <!-- Image -->
                        <div class="flex items-center">

                        </div>

                        <!-- id -->
                        <div class="hidden truncate md:block">
                            {{ product.id }}
                        </div>
                        <div class="truncate">
                            {{ product.inst }}
                        </div>
                        <!-- institucion -->
                        <div class="truncate">
                            {{ product.op }}
                        </div>
                        <div class="truncate">
                            {{ product.fase }}
                        </div>
                        <!-- planificacion -->
                        <div class="truncate">
                            {{ product.dpa }}
                        </div>
                        <div class="truncate">
                            {{ product.p_viv }}
                        </div>
                        <div class="truncate">
                            {{ product.p_hog }}
                        </div>
                        <!-- fechas -->
                        <div class="hidden sm:block">
                            {{ product.f_ini }}
                        </div>
                        <div class="hidden sm:block">
                            {{ product.f_fin }}
                        </div>
                        <div class="hidden sm:block">
                            {{ product.f_ing }}
                        </div>
                        <div class="hidden sm:block">
                            {{ product.f_des }}
                        </div>
                        <!-- Active -->
                        <div class="hidden items-center lg:block">
                            @if (product.active) { <div class="flex text-green-400"> Activo
                                <mat-icon class="text-green-400 icon-size-5" [svgIcon]="
                                                'heroicons_solid:check'
                                            "> </mat-icon>
                            </div>
                            }
                            @if (!product.active) {<div class="flex text-gray-400"> Inactivo
                                <mat-icon class="text-gray-400 icon-size-5" [svgIcon]="
                                                'heroicons_solid:x-mark'
                                            "></mat-icon>
                            </div>
                            }
                        </div>



                        <!-- Details button -->
                        <div class="hidden items-center lg:flex">
                            <button class="h-7 min-h-7 min-w-10 px-2 leading-6" mat-stroked-button
                                (click)="toggleDetails(product.id)">
                                <mat-icon class="icon-size-5 text-blue-900 " [svgIcon]="
                                            
                                                    'heroicons_solid:pencil-square'
                                                "></mat-icon>
                            </button>
                            <button class="h-7 min-h-7 min-w-10 px-2 leading-6" mat-stroked-button
                                (click)="deleteProduct(product.id)">
                                <mat-icon class="icon-size-5 text-red-700" [svgIcon]="
                                        
                                'heroicons_solid:trash'
                            "></mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="grid">
                        @if (selectedProduct?.id === product.id) {
                        <ng-container *ngTemplateOutlet="
                                                rowDetailsTemplate;
                                                context: { $implicit: product }
                                            "></ng-container>
                        }
                    </div>
                    }
                    }
                </div>

                <mat-paginator
                class="flex justify-center z-10 border-b bg-white dark:bg-transparent sm:absolute sm:inset-x-0 sm:bottom-0 sm:border-b-0 sm:border-t"
                [ngClass]="{ 'pointer-events-none': isLoading }" [length]="pagination.length"
                    [pageIndex]="pagination.page" [pageSize]="pagination.size" [pageSizeOptions]="[5, 10, 25, 100]"
                    [showFirstLastButtons]="true"></mat-paginator>
                } @else {
                <div class="border-t p-8 text-center text-4xl font-semibold tracking-tight sm:p-16">
                    No hay planificacions!
                </div>
                }
                }

                <ng-template #rowDetailsTemplate let-product>
                    <div class="overflow-hidden shadow-lg">
                        <div class="flex border-b">
                            <!-- Selected product form -->
                            <form class="flex w-full flex-col" [formGroup]="selectedProductForm">
                                <div class="flex flex-auto p-8 sm:flex-row">
                                    <div class="flex flex-auto">

                                        <mat-form-field class="w-full pr-2">
                                            <mat-label>Institución</mat-label>
                                            <input matInput [formControlName]="'inst'" />
                                        </mat-form-field>

                                        <mat-form-field class="w-full pr-2">
                                            <mat-label>Operativo</mat-label>
                                            <input matInput [formControlName]="'op'" />
                                        </mat-form-field>

                                        <mat-form-field class="w-full pl-2">
                                            <mat-label>Fase</mat-label>
                                            <input matInput [formControlName]="'fase'" />
                                        </mat-form-field>
                                    </div>
                                    <div class="flex flex-auto">
                                        <mat-form-field class="w-1/3 pl-2 pr-4">
                                            <mat-label>DPA</mat-label>
                                            <input matInput [formControlName]="'dpa'" />
                                        </mat-form-field>
                                        <mat-form-field class="w-1/3 pl-2 pr-4">
                                            <mat-label>Proyección Viviendas</mat-label>
                                            <input matInput [formControlName]="'p_viv'" />
                                        </mat-form-field>
                                        <mat-form-field class="w-1/3 pl-2 pr-4">
                                            <mat-label>Proyección Hogares</mat-label>
                                            <input matInput [formControlName]="'p_hog'" />
                                        </mat-form-field>
                                        <mat-form-field class="w-full pl-2">
                                            <mat-label>Fecha inicio</mat-label>
                                            <input matInput [formControlName]="'f_ini'" />
                                        </mat-form-field>
                                        <mat-form-field class="w-1/3 pl-2 pr-4">
                                            <mat-label>Fecha fin</mat-label>
                                            <input matInput [formControlName]="'f_fin'" />
                                        </mat-form-field>
                                        <mat-slide-toggle [formControlName]="'active'" [color]="'primary'">
                                            {{
                                            selectedProductForm.get(
                                            'active'
                                            ).value === true
                                            ? 'Activo'
                                            : 'Inactivo'
                                            }}
                                        </mat-slide-toggle>

                                    </div>

                                </div>

                                <div class="flex w-full items-center justify-end border-t px-8 py-4">
                                    <button class="-ml-4" mat-button [color]="'warn'"
                                    (click)="toggleDetails(product.id)">
                                    Cancelar
                                </button>
                                    <div class="flex items-center">
                                        @if (flashMessage) {
                                        <div class="mr-4 flex items-center">
                                            @if (flashMessage === 'success') {
                                            <mat-icon class="text-green-500" [svgIcon]="
                                                        'heroicons_outline:check'
                                                    "></mat-icon>
                                            <span class="ml-2">Registro Actualizado</span>
                                            }
                                            @if (flashMessage === 'error') {
                                                <mat-icon class=" text-red-500 text-3xl" [svgIcon]="
                                                        'heroicons_outline:x-mark'
                                                    "></mat-icon>
                                                    <span class="ml-2">Ocurrio un error! Intentar nuevamente</span>
                                            }
                                        </div>
                                        }
                                        <button mat-flat-button [color]="'primary'" 
                                        (click)="updateSelectedProduct()">
                                            Actualizar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>

    </div>
</div>
</div>