<div class="flex flex-col w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-hidden">

<!-- Header -->
<div
class="bg-card relative z-49 flex h-16 w-full flex-0 items-center px-4 shadow dark:border-b dark:bg-transparent dark:shadow-none md:px-6 print:hidden">
<button mat-icon-button (click)="toggleNavigation('mainNavigation')">
    <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
</button>
<div class="ml-auto flex items-center space-x-0.5 pl-2 sm:space-x-2">

    <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
    <search [appearance]="'bar'"></search>
    <!--<shortcuts></shortcuts>-->
    <messages></messages>
    <notifications></notifications>
    <button class="lg:hidden" mat-icon-button>
        <mat-icon [svgIcon]="'heroicons_outline:chat-bubble-left-right'"></mat-icon>
    </button>
    <user></user>
</div>
</div>
    <mat-drawer-container class="flex-auto w-">
        
        <!-- Drawer -->
        <mat-drawer class=" dark:bg-gray-900" [autoFocus]="false" [mode]="drawerMode" [opened]="drawerOpened"
            #drawer>

            <!-- Panel links -->
            <div class="flex flex-col divide-y border-t border-b">

                <ng-container *ngFor="let panel of paneles; trackBy: trackByFn">
                    <div class="flex px-8 py-5 cursor-pointer" [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedPanel || selectedPanel !== panel.id,
                                    'bg-primary-50 dark:bg-hover': selectedPanel && selectedPanel === panel.id}"
                        (click)="goToPanel(panel.id)">
                        <mat-icon
                            [ngClass]="{'text-hint': !selectedPanel || selectedPanel !== panel.id,
                                        'text-primary dark:text-primary-500': selectedPanel && selectedPanel === panel.id}"
                            [svgIcon]="panel.icon"></mat-icon>
                        <div class="ml-3">
                            <div class="font-medium leading-6"
                                [ngClass]="{'text-primary dark:text-primary-500': selectedPanel && selectedPanel === panel.id}">
                                {{panel.title}}
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </mat-drawer>

        <router-outlet></router-outlet>


    </mat-drawer-container>

</div>
