<div class="absolute inset-0 flex min-w-0 min-h-[450px] justify-center ">
    
    <div class="max-w-210 ">
        <div class="flex border-solid border-black bg-contrast py-2  text-2xl justify-center items-center">
            <div> Política de Privacidad </div>
           
        </div>
        <div class="bg-gray-900 min-h-4 max-h-4 flex-grow"></div>
        <div class="mt-1 py-5 px-5">
            <h2
                class="truncate  font-extrabold  tracking-tight text-3xl"
            >
                Declaración del Formulario de la Unidad del Registro Social
            </h2>
        </div>
       
        <div class="py-6 px-12">
            Declaro que la información proporcionada es verdadera e integra. Autorizo el uso y verificación de toda esta
            información para
            programas y/o subsidios estatales, por lo que conozco que cualquier falsedad en la información proporcionada
            excluye a los miembros
            de este hogar de ser beneficiarios de los mismos.
            Por tanto:
            <div class="py-6 px-12">
        <li>Eximo a la Unidad del Registro Social de todas las responsabilidades, inclusive frente a terceros, si esta
            información
            proporcionada fuere falsa o errónea.
        </li>
        
      
        <li>Me comprometo a proporcionar a la Unidad del Registro Social los sustentos que justifiquen la información
            registrada.
        </li>
        
        <li>Autorizo a la Unidad del Registro Social a realizar cuantos análisis y verificación se consideren
            necesarias.
        </li>
        
        <li> En virtud de la presente declaración, renuncio a instaurar por este motivo cualquier tipo de acción
            civil, penal o
            administrativa en contra de la Unidad del Registro Social y de sus representantes legales y demás servidores
            por el
            contenido erróneo de la información.
        </li>
        
        <li> Autorizo capturar las fotografías de documentos de identificación y del informante calificado, mismas
            que serán consideradas
            como mecanismo de validación y aceptación de la información que proporciono.
        </li>
        
        <li>Me comprometo a mantener actualizada la información que consta en la base de datos del Registro Social,
            cuando se presenten
            cambios en las condiciones económicas, socio demográficas o previo el vencimiento de 36 meses desde el
            último registro.</li>
        </div>
        </div>
        <div class="flex justify-center font-bold">
            ¿Está de acuerdo con esta declaración?
         </div>
        <div class="flex justify-center">
                            
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Si</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
            </mat-radio-group>
              
        </div>
        <!--
        <div class="flex justify-between">
            <button class="bg-accent" mat-flat-button [color]="'accent'" (click)="cancelar()">
                <span class="ml-2">Cancelar</span>
            </button>
            <button class="bg-accent" mat-flat-button [color]="'primary'" (click)="confirmar()">
                <span class="ml-2">Confirmar
                    
                </span>
                
            </button>
        </div>-->
        
    </div>

</div>