<div class="flex flex-col w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-hidden">

    <mat-drawer-container class="flex-auto sm:h-full">

        <!-- Drawer -->
        <mat-drawer class="sm:w-72 dark:bg-gray-900" [autoFocus]="false" [mode]="drawerMode" [opened]="drawerOpened"
            #drawer>

            <div class="flex items-center justify-between m-8 mr-6 sm:my-10">
                <!-- Title -->
                <fuse-card class="flex items-center flex-col max-w-70 w-auto filter-article" *ngIf="this.fotografia">
                    <div class="m-8">
                        <div class="mt-4"> <strong>Identificación: </strong>
                            {{ fichaIdentificacionDTO?.dni }}
                        </div>
                        <div class="mt-4"> <strong>Nombres y apellidos: </strong>
                            {{fichaIdentificacionDTO?.nombres + " " + fichaIdentificacionDTO?.apellidoPaterno + " " + fichaIdentificacionDTO?.apellidoMaterno}}
                        </div>
                    </div>
                </fuse-card>

                <!-- Close button -->
                <div class="lg:hidden">
                    <button mat-icon-button (click)="drawer.close()">
                        <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                    </button>
                </div>
            </div>

            <!-- Panel links -->
            <div class="flex flex-col divide-y border-t border-b">

                <ng-container *ngFor="let panel of paneles; trackBy: trackByFn">
                    <div class="flex px-8 py-5 cursor-pointer" [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedPanel || selectedPanel !== panel.id,
                                    'bg-primary-50 dark:bg-hover': selectedPanel && selectedPanel === panel.id}"
                        (click)="goToPanel(panel.id)">
                        <mat-icon
                            [ngClass]="{'text-hint': !selectedPanel || selectedPanel !== panel.id,
                                        'text-primary dark:text-primary-500': selectedPanel && selectedPanel === panel.id}"
                            [svgIcon]="panel.icon"></mat-icon>
                        <div class="ml-3">
                            <div class="font-medium leading-6"
                                [ngClass]="{'text-primary dark:text-primary-500': selectedPanel && selectedPanel === panel.id}">
                                {{panel.title}}
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </mat-drawer>

        <router-outlet></router-outlet>


    </mat-drawer-container>

</div>
