<div class="flex min-w-0 flex-auto flex-col">
<div class="flex border-solid border-black bg-contrast py-2  text-2xl justify-center items-center">
    <div> Finalizar Encuesta </div>
   
</div>
<div class="bg-gray-900 min-h-4 max-h-4 flex-grow"></div>
<div class="absolute inset-0 flex min-w-0 min-h-[450px] px-5 py-10 justify-center overflow-hidden">
    <div class="max-w-210 ">
        <div class="flex mt-1 justify-center">
            <div>
                <br /><br /><br />
                <h2 class="truncate  font-extrabold  tracking-tight text-3xl py-3">
                    ¡Gracias por contestar el Formulario de la Unidad del Registro Social!
                </h2>
                <br />
                <br />
                <div class="flex justify-center text-xl text-center font-bold py-3">
                    Al presionar el boton finalizar, se cerrará el proceso de registro de su formulario,
                    <br /> y a continuación se le enviará una notificación a su correo Electrónico
                    <br /> y en su buzón de trámites en linea.
                </div>

            </div>
        </div>

    </div>
</div>