<div class="absolute inset-0 flex min-w-0 min-h-[450px] px-5 py-10 justify-center overflow-hidden">
    <div class="max-w-210 ">
        <div class="mt-1">
            <h2
                class="truncate  font-extrabold  tracking-tight text-3xl py-3"
            >
                ¡Gracias por contestar el Formulario de la Unidad del Registro Social!
            </h2>
       
        <div class="flex justify-center font-bold py-3">
            ¿Desea terminar la encuesta? Las respuestas se guardarán y podran ser editadas en el futuro
         </div>
        
        
        <div class="flex justify-center py-10">
            
            <button class="bg-accent" mat-flat-button [color]="'primary'" (click)="confirmar()">
                Guardar
                
            </button>
        </div>
        
    </div>

</div>