
<div class="w-72 bg-white">
    <mat-tab-group>
        <mat-tab label="Info Base">
            <section class="example-section">
                <mat-radio-group aria-label="Capas Base">
                    <mat-radio-button>OpenStreetMap</mat-radio-button>
                    <mat-radio-button>Google Satellite</mat-radio-button>
                    <mat-radio-button>Google Terrain</mat-radio-button>
                    <br />
                    <mat-radio-button>Ninguno</mat-radio-button>
                </mat-radio-group>



            </section>
        </mat-tab>
        <mat-tab label="Info Temática">
            <tree></tree>

        </mat-tab>
    </mat-tab-group>

</div>
<div class="flex min-w-0 flex-auto flex-col bg-white">
    <!-- Main -->

    <div
        class="relative flex flex-0 flex-col border-b px-6 py-4 sm:flex-row sm:items-center sm:justify-between md:px-8">
        <!-- Title -->
        <div class="text-8lg font-extrabold tracking-tight">Visor Geográfico</div>



    </div>
    <mat-toolbar-row>
        <span>
            <mat-chip-set aria-label="Menu selection">
                <mat-chip  matTooltip="Desplazar en el mapa" >
                    <mat-icon class="icon-size-5 flex justify-center " svgIcon="heroicons_outline:hand-raised"></mat-icon>
                </mat-chip>
                <mat-chip  matTooltip="Seleccionar área" >
                    <mat-icon class="icon-size-6 flex justify-center " svgIcon="mat_solid:highlight_alt"></mat-icon>
                </mat-chip>
                <mat-chip>
                    <mat-icon  matTooltip="Zoom In" class="icon-size-5 flex justify-center " matPrefix
                        [svgIcon]="'heroicons_solid:magnifying-glass-plus'"></mat-icon>
                </mat-chip>
                <mat-chip>
                    <mat-icon matTooltip="Zoom Out" class="icon-size-5 flex justify-center" matPrefix
                        [svgIcon]="'heroicons_solid:magnifying-glass-minus'"></mat-icon>
                </mat-chip>
                <mat-chip>
                    <mat-icon matTooltip="Vista Previa"class="icon-size-5 flex justify-center" matPrefix
                        [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                </mat-chip>
                <mat-chip>
                    <mat-icon  matTooltip="Vista Siguiente"class="icon-size-5 flex justify-center" matPrefix
                        [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                </mat-chip>
                <mat-chip>
                    <mat-icon  matTooltip="Expandir a Pantalla completa" class="icon-size-5 flex justify-center" matPrefix
                        [svgIcon]="'heroicons_solid:arrows-pointing-out'"></mat-icon>
                </mat-chip>
                <mat-chip  matTooltip="Buscar por Ubicación" class="bg-gray-50 fuse-mat-dense fuse-mat-rounded min-w-64 place-content-center">
                    <mat-icon class="icon-size-3" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                    <input matInput class="px-2" [autocomplete]="'off'" [placeholder]="'Buscar ubicación...'" />
                </mat-chip>
                <mat-chip>
                    <div class="flex" matTooltip="Buscar por Coordenadas">
                        <mat-icon  class="icon-size-5 flex justify-center" matPrefix
                            [svgIcon]="'heroicons_solid:map-pin'" />
                            <p class="text-sm"> Coordenadas</p>
                    </div>
                </mat-chip>
                <mat-chip>
                    <div class="flex"  matTooltip="Mostrar Información de cada Objeto">
                        <mat-icon  class="icon-size-5 flex justify-center" matPrefix
                            [svgIcon]="'heroicons_solid:information-circle'" />
                            <p class="text-sm"> Info</p>
                    </div>
                </mat-chip>
                <mat-chip>
                    <div class="flex" matTooltip="Herramientas para calcular areas y distancias" >
                        <mat-icon  class="icon-size-5 flex justify-center" svgIcon="mat_solid:open_in_full"></mat-icon>
                        <p class="text-sm"> Medir</p>
                    </div>
                </mat-chip>
                <mat-chip>
                    <div class="flex"  matTooltip="Descargar en varios formatos">
                        <mat-icon class="icon-size-5 flex justify-center" matPrefix
                            [svgIcon]="'heroicons_solid:document-arrow-down'" />
                    </div>
                </mat-chip>
            </mat-chip-set>
        </span>


    </mat-toolbar-row>
    
    <div class="map-container flex-grow col-span-2 rounded-2xl" #map>

        
    </div>
    <img class="absolute w-50 bottom-10 right-32 "src="images/URS/scalebars.png"/>
</div>
<div class="w-30 bg-white">
   
    <div class="text-8lg font-extrabold tracking-tight flex py-6 px-1"> Otras Opciones</div>
    <div class="flex justify-center pb-4">
        <button (click)="navDatos()">
            <div class="flex justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-8 stroke-cyan-700">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                </svg>

            </div>
            <p class="text-sm text-cyan-700 font-semibold"> Catálogo de datos </p>
        </button>
    </div>
    <div class="flex justify-center pb-4">
        <button (click)="navServicios()">
            <div class="flex justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="size-8 fill-emerald-500">
                    <path fill-rule="evenodd"
                        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM6.262 6.072a8.25 8.25 0 1 0 10.562-.766 4.5 4.5 0 0 1-1.318 1.357L14.25 7.5l.165.33a.809.809 0 0 1-1.086 1.085l-.604-.302a1.125 1.125 0 0 0-1.298.21l-.132.131c-.439.44-.439 1.152 0 1.591l.296.296c.256.257.622.374.98.314l1.17-.195c.323-.054.654.036.905.245l1.33 1.108c.32.267.46.694.358 1.1a8.7 8.7 0 0 1-2.288 4.04l-.723.724a1.125 1.125 0 0 1-1.298.21l-.153-.076a1.125 1.125 0 0 1-.622-1.006v-1.089c0-.298-.119-.585-.33-.796l-1.347-1.347a1.125 1.125 0 0 1-.21-1.298L9.75 12l-1.64-1.64a6 6 0 0 1-1.676-3.257l-.172-1.03Z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <p class="text-sm text-emerald-500 font-semibold"> Catálogo de Servicios </p>
        </button>
    </div>
    <div class="flex justify-center pb-4">
        <button (click)="navDescargas()">
            <div class="flex justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-8 stroke-orange-600">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M7.5 7.5h-.75A2.25 2.25 0 0 0 4.5 9.75v7.5a2.25 2.25 0 0 0 2.25 2.25h7.5a2.25 2.25 0 0 0 2.25-2.25v-7.5a2.25 2.25 0 0 0-2.25-2.25h-.75m-6 3.75 3 3m0 0 3-3m-3 3V1.5m6 9h.75a2.25 2.25 0 0 1 2.25 2.25v7.5a2.25 2.25 0 0 1-2.25 2.25h-7.5a2.25 2.25 0 0 1-2.25-2.25v-.75" />
                </svg>

            </div>
            <p class="text-sm text-orange-600 font-semibold"> Descargas </p>
        </button>
    </div>
    
    <div class="flex justify-center pb-4">
        <button (click)="navApps()">
            <div class="flex justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-8 stroke-amber-600">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z" />
                </svg>

            </div>
            <p class="text-sm text-amber-600 font-semibold"> GeoApps </p>
        </button>
    </div>
</div>