<div class="absolute inset-0 flex min-w-0 flex-col overflow-y-auto">
    <!-- Header -->
    <div class="dark relative flex-0 overflow-hidden bg-blue-950 px-4 py-8 sm:p-16">
        <!-- Background -->
        <!-- Rings -->
        <!-- prettier-ignore -->
        <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
            preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-blue-800 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <div class="relative z-10 flex flex-col items-center">
            <h2 class="text-xl font-semibold">Unidad del Registro Social</h2>
            <div class="mt-1 text-center text-4xl font-extrabold leading-tight tracking-tight sm:text-7xl">
                GeoApps
            </div>
            <div class="text-secondary mt-6 max-w-2xl text-center tracking-tight">
                Descripción de GeoApps
            </div>
        </div>
    </div>


    <!-- Main -->
    <div class="flex flex-auto">
        <div class="mx-auto flex flex-auto flex-col ">
            <div class=" flex w-full max-w-400 flex-wrap pt-10 space-x-6 place-content-center">
               
                <button>
                    <fuse-card class="filter-article flex w-full max-w-80   flex-col    hover:bg-gray-200">
                        <img class="object-cover max-h-40" src="images/URS/cat-1.png" alt="Card cover image" />
                        <div class="m-8">
                            <div class="text-2xl font-semibold leading-tight">
                                Herramientas de Comparación
                            </div>
                            <div class="mt-4">
                                Descripción de la aplicación
                            </div>
                        </div>
                    </fuse-card>
                </button>
              


            </div>
        </div>
    </div>

</div>