<div class="relative flex min-w-0 flex-auto flex-col overflow-hidden">
    <!-- Header & Cards -->
    <div class="relative overflow-hidden px-6 pb-12 ">
        <!-- Background -->
        <!-- prettier-ignore -->
        <svg class="-z-1 absolute inset-0" viewBox="0 0 960 540" width="100%" height="100%"
            preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="opacity-40 text-gray-200 dark:text-gray-800" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>

        <div class="relative">
            <!-- Swiper Cards -->
            <swiper-container class="relative rounded-tl-3xl px-40" slides-per-view="3" loop="true" navigation="true" pagination="true">
                <swiper-slide class="relative z-10 hover:z-50 py-20 px-4">
                    <!-- Card 1 -->
                    <fuse-card (click)="navTo('/portal/land/certificado-form')"
                        class="flex h-96 w-72 flex-col justify-between items-center cursor-pointer p-4 text-center rounded-tl-3xl transition-all hover:shadow-lg hover:scale-110 z-10 hover:z-50">
                        
                        <!-- Text Section -->
                        <div class="h-12 text-2xl font-bold leading-tight tracking-tight overflow-hidden">
                            Solicitar Certificado
                        </div>
                        
                        <!-- Image Section -->
                        <div class="h-40 w-full">
                            <img src="images/URS/solicitarCertificado.jpg" class=" w-full object-cover rounded-md" />
                        </div>
                        
                        <!-- Button Section -->
                        <div class="mt-4">
                            <button mat-button class="px-4 py-2 text-white bg-primary rounded-xl hover:bg-blue-900">
                                Solicitarlo Ahora
                            </button>
                        </div>
                    </fuse-card>
                </swiper-slide>
                <swiper-slide class="relative z-10 hover:z-50 py-20 px-4">
                    <!-- Card 2 -->
                    <fuse-card (click)="navTo('/portal/formulario-urs/p0')"
                        class="flex h-96 w-72 flex-col justify-between items-center cursor-pointer p-4 text-center rounded-tl-3xl transition-all hover:shadow-lg hover:scale-110 z-10 hover:z-50">
                        
                        <!-- Text Section -->
                        <div class="h-12 text-2xl font-bold leading-tight tracking-tight overflow-hidden">
                            Solicitar Ingreso del Formulario del Registro Social
                        </div>
                        
                        <!-- Image Section -->
                        <div class="h-40 w-full ">
                            <img src="images/URS/formulario.png" class="h-full object-contain rounded-md overflow-hidden" />
                        </div>
                        
                        <!-- Button Section -->
                        <div class="mt-4">
                            <button mat-button class="px-4 py-2 text-white bg-primary rounded-xl hover:bg-blue-900">
                                Solicitarlo Ahora
                            </button>
                        </div>
                    </fuse-card>
                    
                </swiper-slide>
                <swiper-slide class="relative z-10 hover:z-50 py-20 px-4">
                    <!-- Card 2 -->
                    <fuse-card (click)="navTo('/portal/formulario-urs-actualizacion/p0')"
                        class="flex h-96 w-72 flex-col justify-between items-center cursor-pointer p-4 text-center rounded-tl-3xl transition-all hover:shadow-lg hover:scale-110 z-10 hover:z-50">
                        
                        <!-- Text Section -->
                        <div class="h-12 text-2xl font-bold leading-tight tracking-tight overflow-hidden">
                            Solicitar Actualización del Formulario del Registro Social
                        </div>
                        
                        <!-- Image Section -->
                        <div class="h-40 w-full ">
                            <img src="images/URS/update.jpg" class="h-full object-contain rounded-md overflow-hidden" />
                        </div>
                        
                        <!-- Button Section -->
                        <div class="mt-4">
                            <button mat-button class="px-4 py-2 text-white bg-primary rounded-xl hover:bg-blue-900">
                                Solicitarlo Ahora
                            </button>
                        </div>
                    </fuse-card>
                </swiper-slide>
                <swiper-slide class="relative z-10 hover:z-50 py-20 px-4">
                    <!-- Card 3 -->
                    <fuse-card (click)="navTo('/portal/maps/portal-geografico')"
                        class="flex h-96 w-72 flex-col justify-between items-center cursor-pointer p-4 text-center rounded-tl-3xl transition-all hover:shadow-lg hover:scale-110 z-10 hover:z-50">
                        
                        <!-- Text Section -->
                        <div class="h-12 text-2xl font-bold leading-tight tracking-tight overflow-hidden">
                            Geoportal
                        </div>
                        
                        <!-- Image Section -->
                        <div class="h-40 w-full">
                            <img src="images/URS/geoportal.png" class=" w-full object-cover rounded-md" />
                        </div>
                        
                        <!-- Button Section -->
                        <div class="mt-4">
                            <button mat-button class="px-4 py-2 text-white bg-primary rounded-xl hover:bg-blue-900">
                                Acceder al Portal
                            </button>
                        </div>
                    </fuse-card>
                </swiper-slide>
                <swiper-slide class="relative z-10 hover:z-50 py-20 px-4">
                    <!-- Card 4 -->
                    <a
                    href="https://www.figma.com/proto/bTMCJdHlrSIsDwH5YQiplZ/URS?page-id=332%3A604&node-id=446-3142&viewport=-5130%2C20%2C0.28&t=9vgJrtblH5iVrPjV-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=446%3A3142"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <fuse-card
                        class="flex h-96 w-72 flex-col justify-between items-center cursor-pointer p-4 text-center rounded-tl-3xl transition-all hover:shadow-lg hover:scale-110 z-10 hover:z-50">
                        
                        <!-- Text Section -->
                        <div class="h-12 text-2xl font-bold leading-tight tracking-tight overflow-hidden">
                            Portal Estadístico
                        </div>
                        
                        <!-- Image Section -->
                        <div class="h-40 w-full">
                            <img src="images/URS/estadisticas.jpg" class="h-full w-full mb object-contain rounded-md" />
                        </div>
                        
                        <!-- Button Section -->
                        
                        <button
                            mat-button
                            class="px-4 py-2 text-white bg-primary rounded-xl hover:bg-blue-900"
                        >
                            Acceder al Portal
                        </button>
                    
                    
                    </fuse-card>
                </a>
                </swiper-slide>
                <swiper-slide class="relative z-10 hover:z-50 py-20 px-4">
                    <!-- Card 5 -->
                    <fuse-card (click)="navTo('/portal/land/servicios')"
                        class="flex h-96 w-72 flex-col justify-between items-center cursor-pointer p-4 text-center rounded-tl-3xl transition-all hover:shadow-lg hover:scale-110 z-10 hover:z-50">
                        
                        <!-- Text Section -->
                        <div class="h-12 text-2xl font-bold leading-tight tracking-tight overflow-hidden">
                            Más Servicios
                        </div>
                        
                        <!-- Image Section -->
                        <div class="h-40 w-full">
                            <img src="images/URS/ventanilla.jpg" class=" w-full object-cover rounded-md" />
                        </div>
                        
                        <!-- Button Section -->
                        <div class="mt-4">
                            <button mat-button class="px-4 py-2 text-white bg-primary rounded-xl hover:bg-blue-900">
                                Solicitarlo Ahora
                            </button>
                        </div>
                    </fuse-card>
                </swiper-slide>
               
            </swiper-container>
        </div>
        
    </div>

</div>