<div class="flex min-w-0 flex-auto flex-col">
    <!-- Main -->
    <div class="flex flex-auto flex-col items-center p-6 sm:p-10">
        <div class="flex w-full max-w-4xl flex-col">
            <div class="-ml-4 sm:mt-8 ">
                <a mat-button [routerLink]="['../']" class="bg-blue-950 text-white">
                    <mat-icon [svgIcon]="'heroicons_outline:arrow-long-left'" class="text-white"></mat-icon>
                    <span class="ml-2">Regresar al Portal Principal</span>
                </a>
            </div>
            <div class="mt-2 text-4xl font-extrabold leading-tight tracking-tight sm:text-7xl">
                Servicios
            </div>
            <!-- Form -->
            <div class="bg-card mt-8 rounded-2xl p-6 pb-7 shadow sm:mt-12 sm:p-10 sm:pb-7">
               
                <form class="space-y-3"  #supportNgForm="ngForm">
                    <div class="mb-6">
                        <div class="text-2xl font-bold tracking-tight">
                            Selecciona la opción que deseas visitar
                        </div>
                        <div class="mb-4 flex items-center justify-center">
                            <div
                                class="flex flex-col sm:flex-row mt-2 space-y-2 sm:space-y-0 sm:space-x-4 text-2xl font-bold"
                            >
                                <div
                                    class="card flex flex-col items-center justify-center py-10 w-60 shadow-lg border rounded-lg cursor-pointer hover:bg-gray-100 transition"
                                    (click)="navTo('portal/land/faqs')"
                                >
                                
                                    <span class="">Preguntas Frecuentes
                                        
                                    </span>
                                    <mat-icon class="icon-size-20 mt-3"[svgIcon]="'heroicons_outline:question-mark-circle'"></mat-icon>
                                   
                                </div>
                                <div
                                    class="card flex flex-col items-center justify-center py-10 w-60 shadow-lg border rounded-lg cursor-pointer hover:bg-gray-100 transition"
                                    (click)="navTo('portal/land/soporte')"
                                >
                                    <span>Soporte</span>
                                    <mat-icon class="icon-size-20 mt-3"[svgIcon]="'heroicons_outline:cog'"></mat-icon>
                                </div>
                                <div
                                    class="card flex flex-col items-center justify-center py-10 w-60 shadow-lg border rounded-lg cursor-pointer hover:bg-gray-100 transition"
                                    (click)="navTo('portal/land/otros-servicios')"
                                >
                                    <span>Otros Servicios</span>
                                    <mat-icon class="icon-size-20 mt-3"[svgIcon]="'heroicons_outline:book-open'"></mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </form>
            </div>
        </div>
    </div>
</div>