<div class="flex flex-auto rounded-xl overflow-hidden ">
    <table class="table-auto  shadow-md ">
       
        <tbody>
            <tr>
                <td class="border border-gray-300 px-4 py-2 text-center  bg-primary text-gray-100 font-semibold  min-w-60">Cédula</td>
                <td class="border border-gray-300 px-4 py-2 text-center  bg-white text-gray-700 min-w-60">1701010113</td>
                <td class="border border-gray-300 px-4 py-2 text-center  bg-primary text-gray-100 font-semibold   min-w-60">Cónyuge</td>
                <td class="border border-gray-300 px-4 py-2 text-center  bg-white text-gray-700 min-w-60">Ana Hernández Martínez</td>
            </tr>
            <tr>
                <td class="border border-gray-300 px-4 py-2 text-center  bg-primary text-gray-100 font-semibold  "> Nombres y Apellidos</td>
                <td class="border border-gray-300 px-4 py-2 text-center  bg-white text-gray-700"> Juan Morales Armen</td>
                <td class="border border-gray-300 px-4 py-2 text-center  bg-primary text-gray-100 font-semibold  "> Nombre del Padre </td>
                <td class="border border-gray-300 px-4 py-2 text-center  bg-white text-gray-700"> Jorge Morales Villanueva </td>
            </tr>
            <tr>
                <td class="border border-gray-300 px-4 py-2 text-center  bg-primary text-gray-100 font-semibold  "> Sexo </td>
                <td class="border border-gray-300 px-4 py-2 text-center  bg-white text-gray-700"> Hombre </td>
                <td class="border border-gray-300 px-4 py-2 text-center  bg-primary text-gray-100 font-semibold  "> Nombre de la Madre </td>
                <td class="border border-gray-300 px-4 py-2 text-center  bg-white text-gray-700"> Rosa Armen Navarro </td>
            </tr>
            <tr>
                <td class="border border-gray-300 px-4 py-2 text-center  bg-primary text-gray-100 font-semibold  "> Fecha Nacimiento</td>
                <td class="border border-gray-300 px-4 py-2 text-center  bg-white text-gray-700"> 11/02/1997 </td>
                <td class="border border-gray-300 px-4 py-2 text-center  bg-primary text-gray-100 font-semibold  "> Condición de Cedulado </td>
                <td class="border border-gray-300 px-4 py-2 text-center  bg-white text-gray-700"> Ciudadano  </td>
            </tr>
            <tr>
                <td class="border border-gray-300 px-4 py-2 text-center  bg-primary text-gray-100 font-semibold  "> Estado Civil </td>
                <td class="border border-gray-300 px-4 py-2 text-center  bg-white text-gray-700"> Casado</td>
                <td class="border border-gray-300 px-4 py-2 text-center  bg-primary text-gray-100 font-semibold"> Fecha Defunción </td>
                <td class="border border-gray-300 px-4 py-2 text-center  bg-white text-gray-700"> #  </td>
            </tr>
            <tr>
                <td class="border border-gray-300 px-4 py-2 text-center  bg-primary text-gray-100 font-semibold"> Profesión</td>
                <td class="border border-gray-300 px-4 py-2 text-center  bg-white text-gray-700"> Abogado </td>
                <td class="border border-gray-300 px-4 py-2 text-center  bg-primary text-gray-100 font-semibold"> Fecha Expedición </td>
                <td class="border border-gray-300 px-4 py-2 text-center  bg-white text-gray-700"> 23/09/2023 </td>
            </tr>
        </tbody>
    </table>
</div>