<div class="flex flex-col flex-auto bg-white ">


    <!-- Header -->
    <div
        class="bg-card relative z-49 flex h-16 w-full flex-0 items-center px-4 shadow dark:border-b dark:bg-transparent dark:shadow-none md:px-6 print:hidden">
        <button mat-icon-button (click)="toggleNavigation('mainNavigation')">
            <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
        </button>
        <div class="ml-auto flex items-center space-x-0.5 pl-2 sm:space-x-2">

            <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
            <search [appearance]="'bar'"></search>
            <!--<shortcuts></shortcuts>-->
            <messages></messages>
            <notifications></notifications>
            <button class="lg:hidden" mat-icon-button>
                <mat-icon [svgIcon]="'heroicons_outline:chat-bubble-left-right'"></mat-icon>
            </button>
            <user></user>
        </div>
    </div>
    <div class="mx-32">
    <query-box></query-box>
    </div>
    <!-- Title for Registro Civil -->
    <h2 class="text-2xl font-bold text-start ml-32 text-gray-700 mt-8">Información Registro Civil</h2>
    <div class="flex flex-auto h-100 border-2 rounded-xl mx-20 mb-10 justify-center items-center">
        <info-rc></info-rc>
    </div>

    <!-- Title for Registro Social -->
    <h2 class="text-2xl font-bold text-start ml-32 text-gray-700 mt-4">Información Registro Social</h2>
    <div class="flex flex-auto border-2 rounded-xl mx-20 mb-10">
        <router-outlet></router-outlet>
    </div>
     <!--Footer-->
     <div class="bg-slate-900 w-full text-white mx-auto p-10 px-30 flex flex-col md:flex-row justify-between items-center mt-10">
        <!-- Section: Feedback and Suggestions -->
        <h2 class="text-lg font-bold mb-4">¿Necesitas más información? Consula otros servicios: </h2>
        <div class="mb-6 md:mb-0 pr-2">
    
          <div class="space-y-2">
            <!-- Button: Preguntas, quejas o sugerencias -->
            <button  class="min-w-80  border border-white p-4 flex items-center justify-between text-white rounded-lg hover:bg-white hover:text-blue-900">
              Visita al Registro Civil
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1.707-10.707a1 1 0 10-1.414 1.414L11.586 10H7a1 1 0 100 2h4.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414l-3-3z" clip-rule="evenodd" />
              </svg>
            </button>
          </div>
        </div>
        <div class="mb-6 md:mb-0">
            
            <div class="space-y-2">
              <!-- Button: Preguntas, quejas o sugerencias -->
              <button  class="min-w-80  border border-white p-4 flex items-center justify-between text-white rounded-lg hover:bg-white hover:text-blue-900">
               Visita al Registro Social
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1.707-10.707a1 1 0 10-1.414 1.414L11.586 10H7a1 1 0 100 2h4.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414l-3-3z" clip-rule="evenodd" />
                </svg>
              </button>
            </div>
          </div>
    
       
    
        <!-- Section: Contact Information -->
        <div class="text-center md:text-right">
          <p>Derechos Reservados © 2024 | Unidad del Registro Social</p>
          <p>Dirección: Av. Atahualpa OE1-109 y 10 de Agosto / Quito - Ecuador</p>
          <p>Telf: +593 2 3834023 / Código Postal: 170508</p>
        </div>
      </div>
</div>